.active {
    font-style: bold;
    text-decoration: underline;
} 
.bg {
    background-image: url("./bg.png");
    position: fixed;
    background-position: center;
    width: 100% ;
    height: 100%;
    background-repeat: no-repeat;
}
.btn-register {
    background-color: #373976;
    color:#f1a6b6 !important;
}
.pubh1 {
    background-color: #373976;
    color:#f1a6b6 !important;
}
.jedan {
    background-color: #373976;
    height: 2000px;

}
.dva {
    color: tomato; 
   
    position: fixed;
}
.reklama {
    color: black;
    font-size: 37px;
}
.siva {
    background-color: #F0F0F0;
    color: black;
}
.zuta {
    background-color: yellow;
    color: black;
}
.crv {
    background-color: red;
    color: black;
}
.stoposto {
   width: 100%; 
   height: 100%;
}
.tri {
   background-color: burlywood;
}
.cetri {
    background-color:darkcyan;
 }
 .pet {
    text-align: center;
 }
 .rr {
    background-color: tomato  ;
 } 
 .zelena:focus {
    background-color: #28a745  ;
    box-shadow: none !important;
    color: white !important;
    border: none !important;
 } 
 .crvena:focus {
    background-color: #dc3545  ;
    box-shadow: none !important;
    color: white !important;
    border: none !important;
 } 
 .plava:focus {
    background-color: #0275d8  ;
    box-shadow: none !important;
    color: white !important;
    border: none !important;
 } 
 .unsuccessfully {
     text-align: center;
     color: red;  
     visibility:hidden;
 } 

 .login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-form-2{
    padding: 5%;
    background: #0062cc;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}
.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}
.unsuccessfully-username {
    display:none;
    color: red;  
}.login-success {
    color: #4BB543;
    display: none;
}
.comment {
    background-color: white;
    border-style: solid;
    border-color:#C8C8C8;
    border-radius: 25px;
}
.comments {
    display: none;
}
.cbutton {
    border-radius: 25px;
}


